---
const { title, desc } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="id" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={desc} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-gray-50 text-gray-900 font-sans antialiased">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
